---
layout: default
---

<main class="content" role="main">
    <!-- Navbar spacer -->
    <div style="height: 80px;"></div>
    
    <article class="post">
        <h1 class="title">{{ page.title }}</h1>

        <div class="columns">
            <div class="column is-one-third">
                <figure class="image">
                    <img src="{{'/assets/images/about.jpg' | relative_url}}">
                </figure>
            </div>
            <div class="column">
                {{content}}
            </div>
        </div>
    </article>
</main>
